version: '3.8'

services:
  db:
    image: postgis/postgis:16-3.4
    container_name: istanbul_traffic_db
    restart: always
    environment:
      POSTGRES_DB: istanbul_traffic
      POSTGRES_USER: traffic_user
      POSTGRES_PASSWORD: traffic_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - traffic-net

  redis:
    image: redis:7-alpine
    container_name: istanbul_traffic_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - traffic-net

  pgadmin:
    image: dpage/pgadmin4
    container_name: istanbul_traffic_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db
    networks:
      - traffic-net

volumes:
  postgres_data:
  redis_data:
  pgadmin_data:

networks:
  traffic-net:
    driver: bridge
